* {
    /* background-color: #e47547; */
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #e47547;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 20px;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 40px 0 24px 0;
}

.gameBoard{
    height: 400px;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: grid;
    border: 2px solid black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
    /* background: black; */
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.tile.active{
    background-color: #aa6f73;
}

.tile.disabled{
    background-color: #a39193;
}

.tile.active:hover{
    background-color: #6a0000;
}

.title > p {
    display: flex;
    font-size: 60px;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-weight: lighter;
}

button {
    font-size: 16px;
    background-color: #eea990;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 1rem;
    color: black;
    cursor: pointer;
}

button:hover {
    background: #15ba25;
    color: black;
    text-shadow: 0 0.1rem #bcb4b4;
}

.resetBtn {
    margin-top: 20px;
}